/node_modules
/src
/docs
/images
/.github
/.claude
.prettierrc.json
buildConfigs.js
build.js
global.d.ts
package-lock.json
README.md
tsconfig.json
setupTests.ts
jest.config.js
lib/tsconfig.tsbuildinfo