html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

code {
  background: #eee;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 100%;
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  font-size: 0.8rem;
  margin: 20px 0;
  padding: 20px;
}

.pageContentWrapper {
  padding: 0 1rem 1rem 1rem;
}

.searchOuterWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.searchInnerWrapper {
  width: 100%;
  max-width: 800px;
  padding: 3rem 1rem;
}

/**
 * Styles governing each subsection of the page.
 * A subsection is composed of text/form content and an optional header/subheaders.
 */
.subsection {
  margin-bottom: 2rem;
  line-height: 1.65rem;
}

.header {
  font-weight: 300;
}

h2.header {
  text-decoration: underline;
}

h3.header {
  font-weight: 600;
  margin: 0.25rem 0;
}

/**
 * Styles governing the component configuration form.
 */

.configurationField {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.longInput {
  width: 320px;
}

.propSet {
  margin-bottom: 1rem;
}

#title {
  font-weight: 400;
}

#navbar {
  align-items: center;
  background-color: #f3f7fb;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d;
  display: flex;
  gap: 1.5rem;
  padding: 0.75rem;
}

#navbar a {
  color: black;
  text-decoration: none;
}
