.vrsSearchResult {
  background-color: var(--vui-color-empty-shade);
  display: block;
  padding: $sizeS $sizeL $sizeS $sizeL;
  text-decoration: none;
  border-bottom: 1px solid var(--vui-color-border-light);

  &:hover {
    background-color: var(--vui-color-light-shade);
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.vrsSearchResult-isLink {
  padding-left: $sizeM;
  border-left: $sizeS solid var(--vui-color-empty-shade);

  &:hover,
  &.isSelected {
    border-left: $sizeS solid var(--vui-color-primary-shade);

    .vrsSearchResultTitle {
      text-decoration: underline;
    }
  }

  .vrsSearchResultTitle {
    color: var(--vui-color-primary-shade);
  }
}

.vrsSearchResultTitle {
  color: var(--vui-color-darker-shade);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: $sizeXxs;
}

.vrsSearchResultSnippet {
  color: var(--vui-color-darker-shade);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
