.searchResult {
  background-color: $colorEmptyShade;
  display: block;
  padding: $sizeS $sizeL $sizeS $sizeL;
  text-decoration: none;
  border-bottom: 1px solid $borderColorLight;

  &:hover {
    background-color: $colorLightShade;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.searchResult-isLink {
  padding-left: $sizeM;
  border-left: $sizeS solid $colorEmptyShade;

  &:hover,
  &.isSelected {
    border-left: $sizeS solid $colorPrimary;

    .searchResultTitle {
      text-decoration: underline;
    }
  }

  .searchResultTitle {
    color: $colorPrimary;
  }
}

.searchResultTitle {
  color: $colorDarkerShade;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: $sizeXxs;
}

.searchResultSnippet {
  color: $colorDarkerShade;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
