.searchForm {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput__input {
  flex-grow: 1;
  padding: $sizeL;
  background-color: $colorEmptyShade;
  border: none;
  box-shadow: $shadowSmallStart;
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -1px;
  font-size: $fontSizeLarge;
  color: $colorText;
}

.searchInput__submitButtonWrapper {
  padding-right: $sizeM;
}

.searchInput__submitButton {
  line-height: 0; // TODO: Should this be applied to all buttons?
  color: $colorDarkShade;
  transition: all $transitionSpeed;

  &:hover {
    color: $colorPrimary;
  }
}
